.rightcontainer {
  width: 60%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.servicesgrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  max-width: 100%;
}

.servicecard {
  background-color: #0c3d69;
  color: white;
  padding: 15px;
  border-radius: 5px;
  text-align: left;
}
