body {
  top: 0px;
 left: 0px;
 /* width: 100vw;
 height: 100vh; */
/* UI Properties */
background: #FFFFFF 0% 0% no-repeat padding-box;
opacity: 1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
